/* ----- Global-Styling ----- */
:root {
    font-family: degular-text, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    color: white;

    background-color: black;
}
body {
    margin: 0;
    padding: 0;
}

/* --- Typographic Styling --- */
h1, h2, h3, h4, h5, h6, p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
p {
    font-size: 6.5rem;
}

/* ----- Header-Styling ----- */
header {
    width: 100%;
    height: 100vh;
}
header .content-wrap {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(12, 1fr);

    width: 80%;
    height: 100%; 

    margin: 0 auto;
}

/* --- Typographic Styling --- */
p {
    font-size: 1rem;
}