/* ----- Global-Styling ----- */
:root {
    font-family: degular-text, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    color: white;

    background-color: black;
}
body {
    margin: 0;
    padding: 0;
}

/* --- Typographic Styling --- */
h1, h2, h3, h4, h5, h6, p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
p {
    font-size: 6.5rem;
}

/* --- Automatic Fit --- */
.fit {
    display: inline-block;
    white-space: nowrap;
}

/* ----- Header-Styling ----- */
header {
    width: 100%;
    height: 100vh;

    /* --- Adds Background-Image --- */
    background-image: url(../assets/header-bg.jpg);
    background-size: cover;
}
header .content-wrap {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(12, 1fr);

    width: 80%;
    height: 100%; 

    margin: 0 auto;
}

/* --- Typographic Styling --- */
p {
    font-size: 1rem;
}

/* --- Object-Styling --- */
header #documentary {
    grid-column: 1/6;
    grid-row: 2/3 ;
}
header svg {
    width: 50px;
    height: 1px;

    margin-right: 2%;
    margin-bottom: .5%;
}
header svg line {
    stroke: white;
    stroke-width: 1px;
}
header #date {
    grid-column: 6/11;
    grid-row: 2/3;

    text-align: right;
}
header .fit {
    grid-column: 1/11;
    grid-row: 4/8;

    background-image: url(../assets/header-text-bg.jpg);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: cover;
    color: transparent;
}
header #scroll-down {
    grid-column: 1/6;
    grid-row: 11/12;
}

/* ----- Content-Styling ----- */
main .content-wrap {
    width: 95%;
    height: 100%;

    margin: 0 auto;
}

/* --- Gradient between header and content --- */
main #gradient {
    width: 100%;
    height: 450px;

    margin-top: -450px;

    background-image: -webkit-linear-gradient(bottom, black, transparent 90%);;
    background-image: -moz-linear-gradient(bottom, black, transparent 90%);
    background-image: -o-linear-gradient(bottom, black, transparent 90%);
    background-image: linear-gradient(to top, black, transparent 90%);
}

/* --- Text-Styling --- */
main p {
    font-size: 6.5rem;
    line-height: 7.5rem;

    margin: 3.25rem 0;
}
main span {
    color: rgba(255, 255, 255, 0.1);
}


/* ----- Bottom-Gradient ----- */
.bottom-gradient {
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 250px;

    background-image: -webkit-linear-gradient(bottom, black, transparent 90%);;
    background-image: -moz-linear-gradient(bottom, black, transparent 90%);
    background-image: -o-linear-gradient(bottom, black, transparent 90%);
    background-image: linear-gradient(to top, black, transparent 90%);

    transition: all .5s;
}